<h1>My name is <%= @name %></h1>
<div>
    <img src='https://imgur.com/jFaSxym.png' style='border: 3px dashed red'>
</div>
  
# currently working on if conditional to hide the form
<form action = "/named-cat" <% if  %> > 
    
    <input type = "text" name = "name" >
    <input type = "submit" value = "submit">
</form>
